.navbar {
  padding: 0 20px;
  height: 50px;
}

.wrapper {
  min-height: calc(100vh - 72px - 40px);

}

main {
  /* display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  min-height: calc(100vh - 72px - 40px); */
} 
.card {
  display: inline-block;
  width: 340px;
  margin: 15px;
}

.card img {
  height: 350px;
}

.loader {
  display: flex;
  justify-content: center;
  min-width: 100%;  text-align: center;
}

